# http://stackoverflow.com/questions/22111549/travis-ci-with-clang-3-4-and-c11

language: cpp

compiler:
    - clang
    - gcc

os:
    - linux
    - osx

addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - g++-4.9
            - clang
            - valgrind

before_install:
    - if [ "$CXX" = "g++" ]; then export CXX="g++-4.9"; fi

install:
    - mkdir build
    - cd build
    - cmake ..
    - make

script:
    - cmake --version
    - if [ "$TRAVIS_OS_NAME" = "linux" ]; then valgrind --version; fi

after_success:
    - make test
    - if [ "$TRAVIS_OS_NAME" = "linux" ]; then ../tests/valgrind_tests.sh; fi

notifications:
    on_success: change
    on_failure: always

branches:
    only:
        - master
        - ccl_roi
