language: cpp

compiler:
    - clang
    - gcc

os:
    - linux
    - osx

addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - g++-4.9
            - clang

before_install:
    - if [ "$CXX" = "g++" ]; then export CXX="g++-4.9"; fi
    - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get update; fi
    - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get -qq install valgrind; fi
    # Valgrind is apparently not running correctly on OSX 10.7+ right now
    #- if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update; fi
    #- if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew install valgrind; fi

install:
    - mkdir build
    - cd build
    - cmake ..
    - make

script:
    - cmake --version
    - if [ "$TRAVIS_OS_NAME" = "linux" ]; then valgrind --version; fi

after_success:
    - make test
    - if [ "$TRAVIS_OS_NAME" = "linux" ]; then tests/bin/valgrind_tests.sh; fi

notifications:
    on_success: change
    on_failure: always

branches:
    only:
        - master
